.root {
    -fx-background-color: #23272a;
    -fx-font-size: 30px;
}

#progress-label {
    -fx-pref-width: 400px;    
    -fx-font-size: 40px;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#scroll-vbox {
    -fx-alignment: center;
}

#scroll-button {
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-border-radius: 80px;
    -fx-background-radius: 80px;
    -fx-background-color: #636d74;
    -fx-text-fill: white;
}

.hbox {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.text-area {
    -fx-font-size: 80px;
    -fx-wrap-text: true;
    -fx-pref-height: 380px;
    -fx-editable: false;
    -fx-border-color: #131619;
    -fx-border-width: 4px;
}
    
.text-area .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

#flow-pane {
    -fx-padding: 0px 10px 0px 10px;
    -fx-alignment: center;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.action-button {
    -fx-pref-width: 150px;
}

#startButton {
    -fx-background-color: #2dbd30;
    -fx-text-fill: white;
}
#pauseResumeButton {
    -fx-background-color: #bdb72d;
    -fx-text-fill: white;
}
#stopButton {
    -fx-background-color: #bd2d2d;
    -fx-text-fill: white;
}